div{
    height:100px;
    width:100px;
    background-color:pink;
    border-width:2px;
    border-style:dashed;
    border-color:brown;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    margin-left:100px;
}