div{
    height:100px;
    width:100px;
    background-color:pink;
    border-width:2px;
    border-style:solid;
    border-color:brown;
    text-align:right;
}
h1{
    height:50px;
    width:200px;
    background-color:aquamarine;
    border-width:3px;
    border-style:dashed;
    border-color:black;
    text-align:center;
}
button{
    height:100px;
    width:100px;
    border:2px dashed brown;
}